body{
font-family:Arial;
text-align:center;
}


video{
width:95%;
max-width:400px;
border-radius:15px;
}


input{
padding:12px;
margin:5px;
font-size:16px;
}


button{
padding:12px;
margin:5px;
font-size:18px;
}


#gallery{
display:flex;
flex-wrap:wrap;
justify-content:center;
}


.card{

margin:5px;
border:1px solid #aaa;
padding:5px;

}


.photo{

width:200px;
height:200px;

object-fit:cover;

}


.small{

font-size:12px;

}